<form action="/login" method="post">
	<input type="text" name="dept_name" placeholder="department name"><br>
	<input type="password" name="password" placeholder="department password"><br>
	<input type="submit" value="Login"><br>
</form>