<form action="/login" method="post">
	<p><input type="text" name="username" placeholder="jsmith"></p>
	<p><input type="password" name="password" placeholder="Password"></p>
	<p><input type="submit" value="Login"></p>
</form>