<div class="row">
  <div class="welcome_section">
      <h2>Welcome, <%= username %>!</h2> 
      <h4>Report An Issue</h4>
  </div>
  
  <form role="form" action="/reports/create" method="post" id="create_a_report"> <!-- add action and method -->
    <div class="form-group">
      <label for="report_title">Report Title:</label>
      <input type="text" name="report[report_name]" class="form-control" placeholder="A light post fell down near DBC">
    </div>
    <div class="form-group">
      <label for="report_type">Category:</label>
    	<select class="form-control" name="report[report_type]">
    			<option value="pothole">Pothole</option>
    		  <option value="street_light">Street Light Out</option>
    		  <option value="transformer">Blown-up Transformer</option>
    		  <option value="power_line">Downed Electrical Line/Pole</option>
    		  <option value="tree">Fallen Tree or Limb</option>
          <option value="fire_hydrant">Leaking Fire Hydrant</option>
          <option value="road_sign">Damaged Road Sign</option>
          <option value="sewage">Sewage Issue</option>
          <option value="other">Other</option>
    	</select>
    </div>
    <div class="description bg-info">
      <p>Press <b>Find me</b> to setup Geoinfo or Tell us your <b>Address</b></p>
    </div>
    <div class="form-group">
      <label for="report_address">Address:</label>
      <input type="text" name="report[address]" class="form-control" placeholder="633 Folsom St." id="report_address">
    </div>
    <div class="form-group">
      <label for="lat">Latitude:</label>
      <input type="text" name="report[lat]" class="form-control" placeholder="83.62343" id="user_current_lat">
    </div>
    <div class="form-group">
      <label for="lng">Longitude:</label>
      <input type="text" name="report[lng]" class="form-control" placeholder="-122.32193" id="user_current_lng">
    </div>
    <button type="submit" class="btn btn-info pull-right" id="reportSubmit">Submit</button>
  </form>

</div>