<div class="col-md-5 col-md-offset-1">
	<div class="row login_box">
		<div class="col-md-4 col-md-offset-4">
			<a href="/register"><button class="btn btn-primary">Register</button></a>
			<a href="/login"><button class="btn btn-info">Login</button></a>
			<a href="#"><button class="btn btn-success">Department Login</button></a>
		</div>
	</div>
</div>